
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Last Name</th>
        <th scope="col">Frist Name</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of (userList$ | async);">
        <th scope="row">
          {{user.id}}
        </th>
        <td>
          <a [routerLink]="['/users', user.id]">
            {{user.lastname}}
          </a>
        </td>
        <td>{{user.firstname}}</td>
        <td>{{user.age}}</td>
      </tr>
    </tbody>
  </table>
